* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background: color #283db5;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items:left;
  justify-content: space-around;
  padding: ;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 1rem;
  border-radius: 0.2rem;
  border: solid 1px #6db92e;
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #c91818;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}
p {
  font-size:3rem;
  word-spacing: 0.25rem;
  font-style: italic;
}